body {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.text-steelblue-hover:hover {
    color: steelblue;
}

a {
    color: black;
    text-decoration: none;
}

.card-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.gd-blue-green {
    background: linear-gradient(to bottom, #ccffff 0%, #ccffcc 100%);
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
}

.carousel-control-prev {
    left: 0%;
    /* Adjust this value as needed */

}

.carousel-control-next {
    left: 100%;
    /* Adjust this value as needed */
}

.carousel-indicators {
    bottom: -15%;
}

zalo {
    left: initial !important;
    bottom: 20px !important;
    right: 10px !important;
    position: fixed !important;
    width: 60px !important;
    height: 60px !important;
}

main {
    padding-top: 60px;
    width: 100%;
}

green {
    color: green;
}

red {
    color: red;
}

.timeline-item {
    position: relative;
    padding-bottom: 20px;
}

.timeline-line {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    width: 2px;
    background-color: #e4e4e4;
}

.timeline-dot {
    position: absolute;
    top: -1px;
    left: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #197bcd;
    z-index: 1;
}